<div class="header">
  <div class="container">
    <ul class="nav">
      <li><a href="#">Sobre Nós</a></li>
      <li><a href="#">Portifólio</a></li>
      <li><a href="#">Nosso Time</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</div>

<div class="jumbotron"> 
    <div class="main">
      <div class="Titulo">
        <h1>Nós Somos Rubiway</h1>
        <%=image_tag("ruby.png", alt:"Diamante Rubi") %>
      </div>
    <a class="btn-default" href="#">Iniciar</a>
    </div>
      

  <div class="supporting">
    <div class="col">
      <img src="https://content.codecademy.com/projects/broadway/design.svg">
        <h2>Design</h2>
        <p>Faça seus projetos se tornarem realidade.</p>
        <a class="btn-default" href="#">Saiba Mais</a>
    </div>

  <div class="col">
    <img src="https://content.codecademy.com/projects/broadway/develop.svg">
      <h2>Desenvolvimento</h2>
      <p>Utilize as últimas tecnologias para transformar suas idéias em apps.</p>
      <a class="btn-default" href="#">Saiba Mais</a>
  </div>

  <div class="col">
    <img src="https://content.codecademy.com/projects/broadway/deploy.svg">
      <h2>Deploy</h2>
        <p>Hospede seu Aplicativo conosco</p>
        <a class="btn-default" href="#">Saiba Mais</a>
  </div>

  <div class="clearfix"></div>   
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Rubiway 2015</p>
  </div>
</div>
